# Machine Learning: Classification 
Goal of this notebook is to interpret data from Google Analytics and classify whether or not the session resulted in a transaction. Data for this notebook was source from Google Analytics sample data in BigQuery, with the query and data maintained in this notebook. Marketers can use this information to see which targeting features drive the highest impact on conversion probability!

## Part 0: Package Import
Goal:
- Import requisite packages

In [2]:
# Package Import
import pandas as pd
import numpy as np
import matplotlib.pyplot as pltb
import seaborn as sb
import scipy
import statsmodels.formula.api as smf
import statsmodels.api as sm
from sklearn import model_selection, preprocessing, feature_selection, ensemble, linear_model, metrics, decomposition
import datetime

## Part 1: Data Import
Goal:
- Read in raw data from working directory
- Note - data source from BigQuery

In [9]:
# Data Import
rawData = pd.read_csv(r"rawData.csv", parse_dates = ['date'])

rawData.head()

        date   campaign  transactions  pageviews  ismobile        country
0 2016-08-24  (not set)             0         20     False  United States
1 2016-08-24  (not set)             0          5      True          China
2 2016-08-24  (not set)             0          7     False         Russia
3 2016-08-24  (not set)             0         12      True         Taiwan
4 2016-08-24  (not set)             0          4      True       Thailand

## Part 2: Exploratory Analysis

In [10]:
# Info on the dataset
rawData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          5000 non-null   datetime64[ns]
 1   campaign      5000 non-null   object
 2   transactions  5000 non-null   int64
 3   pageviews     5000 non-null   int64
 4   ismobile      5000 non-null   bool
 5   country       5000 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(2), object(2)
memory usage: 200.3+ KB

In [11]:
# Describing the dataset
rawData.describe()

       transactions    pageviews
count   5000.000000  5000.000000
mean       0.018600     4.714600
std        0.135121     9.349451
min        0.000000     1.000000
25%        0.000000     1.000000
50%        0.000000     2.000000
75%        0.000000     5.000000
max        1.000000   327.000000

In [15]:
# Visualizing how many transactions we have to work with

# Total Tranasctions
totalTransactions = rawData['transactions'].sum()

# Counting transactions by campaign
campaignTransactions = rawData[['campaign', 'transactions']].groupby('campaign').sum()

campaignTransactions

                                    transactions
campaign
(not set)                                     92
AW - Dynamic Search Ads Whole Site             1
AW - Electronics                               0
Data Share Promo                               0